/apidocs
/apidocs.zip
/JSONfiles.zip
/MA_Resources.zip
/build/
/pp_fp11/nbproject/private/
/nbproject
template_log_desenvolvimento.docx
Ponto de controlo 1.docx
Ponto de controlo 1.pdf
apicontracts-1.0-SNAPSHOT.jar
build.xml
manifest.mf

*.docx
Ponto de controlo 2.pdf
